/********************** KeyFrames *************/
@keyframes flying {
  0% {
    transform: translateY(-0.625rem);
  }
  100% {
    transform: translateY(0.625rem);
  }
}
@keyframes main-clr-glowing {
  0% {
    background-color: #8156c2;
  }
  100% {
    background-color: #502f83;
  }
}
@keyframes custom-flying-no-shadow {
  0% {
    transform: translateY(-0.625rem);
  }
  100% {
    transform: translateY(0.625rem);
  }
}
@keyframes show-news {
  0% {
    transform: translate(100%, -50%);
  }
  100% {
    transform: translate(-100%, -50%);
  }
}
@keyframes traingle1 {
  0% {
    top: -3.125rem;
    opacity: 0;
  }
  100% {
    top: 3.125rem;
    opacity: 1;
  }
}
@keyframes traingle2 {
  0% {
    top: -3.125rem;
    opacity: 0;
  }
  100% {
    top: 3.1875rem;
    opacity: 1;
  }
}
@keyframes traingle3 {
  0% {
    top: -3.125rem;
    opacity: 0;
  }
  100% {
    top: 3.1875rem;
    opacity: 1;
  }
}
@keyframes traingle4 {
  0% {
    right: 3.6875rem;
    top: -2.0625rem;
    opacity: 0;
  }
  100% {
    right: 3.6875rem;
    top: 4.5rem;
    opacity: 1;
  }
}
@keyframes traingle5 {
  0% {
    left: 3.6875rem;
    top: -2.0625rem;
    opacity: 0;
  }
  100% {
    left: 3.6875rem;
    top: 4.5rem;
    opacity: 1;
  }
}
@keyframes traingle6 {
  0% {
    top: -2.0625rem;
    opacity: 0;
  }
  100% {
    top: 4.5625rem;
    opacity: 1;
  }
}
@keyframes traingle7 {
  0% {
    top: -0.625rem;
    opacity: 0;
  }
  100% {
    top: 5.875rem;
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bounce {
  from {
    bottom: 0rem;
  }
  to {
    bottom: 25%;
  }
}
@keyframes shake {
  0% {
    rotate: 0deg;
  }
  15% {
    rotate: 15deg;
  }
  30% {
    rotate: -15deg;
  }
  45% {
    rotate: 15deg;
  }
  60% {
    rotate: -15deg;
  }
  75% {
    rotate: 15deg;
  }
  100% {
    rotate: 0deg;
  }
}
/* Animations */
@keyframes ring1_ {
  from {
    stroke-dashoffset: -376.237129776;
    transform: rotate(-0.25turn);
    animation-timing-function: ease-in;
  }
  23% {
    stroke-dashoffset: -94.247778;
    transform: rotate(1turn);
    animation-timing-function: ease-out;
  }
  46%, 50% {
    stroke-dashoffset: -376.237129776;
    transform: rotate(2.25turn);
    animation-timing-function: ease-in;
  }
  73% {
    stroke-dashoffset: -94.247778;
    transform: rotate(3.5turn);
    animation-timing-function: ease-out;
  }
  96%, to {
    stroke-dashoffset: -376.237129776;
    transform: rotate(4.75turn);
  }
}
@keyframes ring2_ {
  from {
    stroke-dashoffset: -329.207488554;
    transform: rotate(-0.25turn);
    animation-timing-function: ease-in;
  }
  23% {
    stroke-dashoffset: -82.46680575;
    transform: rotate(1turn);
    animation-timing-function: ease-out;
  }
  46%, 50% {
    stroke-dashoffset: -329.207488554;
    transform: rotate(2.25turn);
    animation-timing-function: ease-in;
  }
  73% {
    stroke-dashoffset: -82.46680575;
    transform: rotate(3.5turn);
    animation-timing-function: ease-out;
  }
  96%, to {
    stroke-dashoffset: -329.207488554;
    transform: rotate(4.75turn);
  }
}
@keyframes ring3_ {
  from {
    stroke-dashoffset: -288.4484661616;
    transform: rotate(-0.25turn);
    animation-timing-function: ease-in;
  }
  23% {
    stroke-dashoffset: -72.2566298;
    transform: rotate(1turn);
    animation-timing-function: ease-out;
  }
  46%, 50% {
    stroke-dashoffset: -288.4484661616;
    transform: rotate(2.25turn);
    animation-timing-function: ease-in;
  }
  73% {
    stroke-dashoffset: -72.2566298;
    transform: rotate(3.5turn);
    animation-timing-function: ease-out;
  }
  96%, to {
    stroke-dashoffset: -288.4484661616;
    transform: rotate(4.75turn);
  }
}
@keyframes ring4_ {
  from {
    stroke-dashoffset: -253.9600625988;
    transform: rotate(-0.25turn);
    animation-timing-function: ease-in;
  }
  23% {
    stroke-dashoffset: -63.61725015;
    transform: rotate(1turn);
    animation-timing-function: ease-out;
  }
  46%, 50% {
    stroke-dashoffset: -253.9600625988;
    transform: rotate(2.25turn);
    animation-timing-function: ease-in;
  }
  73% {
    stroke-dashoffset: -63.61725015;
    transform: rotate(3.5turn);
    animation-timing-function: ease-out;
  }
  96%, to {
    stroke-dashoffset: -253.9600625988;
    transform: rotate(4.75turn);
  }
}
@keyframes ring5_ {
  from {
    stroke-dashoffset: -225.7422778656;
    transform: rotate(-0.25turn);
    animation-timing-function: ease-in;
  }
  23% {
    stroke-dashoffset: -56.5486668;
    transform: rotate(1turn);
    animation-timing-function: ease-out;
  }
  46%, 50% {
    stroke-dashoffset: -225.7422778656;
    transform: rotate(2.25turn);
    animation-timing-function: ease-in;
  }
  73% {
    stroke-dashoffset: -56.5486668;
    transform: rotate(3.5turn);
    animation-timing-function: ease-out;
  }
  96%, to {
    stroke-dashoffset: -225.7422778656;
    transform: rotate(4.75turn);
  }
}
@keyframes ring6_ {
  from {
    stroke-dashoffset: -203.795111962;
    transform: rotate(-0.25turn);
    animation-timing-function: ease-in;
  }
  23% {
    stroke-dashoffset: -51.05087975;
    transform: rotate(1turn);
    animation-timing-function: ease-out;
  }
  46%, 50% {
    stroke-dashoffset: -203.795111962;
    transform: rotate(2.25turn);
    animation-timing-function: ease-in;
  }
  73% {
    stroke-dashoffset: -51.05087975;
    transform: rotate(3.5turn);
    animation-timing-function: ease-out;
  }
  96%, to {
    stroke-dashoffset: -203.795111962;
    transform: rotate(4.75turn);
  }
}
/********************** Reset *************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

a:hover,
a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

/********************** Variables *************/
:root {
  --main-clr: #8156c2;
  --main-clr-hover: #502f83;
}

/********************** Classes *************/
/* -------- Common Classes To Use -------- */
.w-fit {
  width: fit-content;
}

@media (min-width: 768px) {
  .w-sm-fit {
    width: fit-content !important;
  }
}

@media (min-width: 992px) {
  .w-md-fit {
    width: fit-content !important;
  }
}

@media (min-width: 1200px) {
  .w-lg-fit {
    width: fit-content !important;
  }
}

.w-max {
  width: max-content;
}

.h-fit {
  height: fit-content;
}

.h-max {
  height: max-content;
}

.min-h-100vh {
  min-height: 100vh;
}

.min-h-95vh {
  min-height: 95vh;
}

.min-h-90vh {
  min-height: 90vh;
}

@media (min-width: 768px) {
  .w-sm-25 {
    width: 25% !important;
  }
}

@media (min-width: 992px) {
  .w-md-25 {
    width: 25% !important;
  }
}

@media (min-width: 1200px) {
  .w-lg-25 {
    width: 25% !important;
  }
}

@media (min-width: 768px) {
  .w-sm-50 {
    width: 50% !important;
  }
}

@media (min-width: 992px) {
  .w-md-50 {
    width: 50% !important;
  }
}

@media (min-width: 1200px) {
  .w-lg-50 {
    width: 50% !important;
  }
}

@media (min-width: 768px) {
  .w-sm-75 {
    width: 75% !important;
  }
}

@media (min-width: 992px) {
  .w-md-75 {
    width: 75% !important;
  }
}

@media (min-width: 1200px) {
  .w-lg-75 {
    width: 75% !important;
  }
}

@media (min-width: 768px) {
  .w-sm-100 {
    width: 100% !important;
  }
}

@media (min-width: 992px) {
  .w-md-100 {
    width: 100% !important;
  }
}

@media (min-width: 1200px) {
  .w-lg-100 {
    width: 100% !important;
  }
}

.txt-italic {
  font-style: italic;
}

.txt-cap {
  text-transform: capitalize;
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

.word-break-bw {
  word-break: break-word;
}

.text-nowrap {
  white-space: nowrap;
}

.unset-mw {
  max-width: unset !important;
}

.cursor-p {
  cursor: pointer;
}

.fw-bolder {
  font-weight: bolder;
}

.disable {
  pointer-events: none;
  background-color: #cbcaca;
}

.g-transition {
  transition: 0.4s ease;
}

.bg-img {
  object-fit: cover;
}

.borderless {
  border: none;
}
.borderless thead,
.borderless tbody,
.borderless tr {
  border: none;
}
.borderless td,
.borderless th {
  border: solid 0.0625rem #000;
}
.borderless.border-secondary td,
.borderless.border-secondary th {
  border-color: var(--bs-secondary);
}
.borderless.border-dark td,
.borderless.border-dark th {
  border-color: var(--bs-dark);
}
.borderless.border-primary td,
.borderless.border-primary th {
  border-color: var(--bs-primary);
}
.borderless.border-success td,
.borderless.border-success th {
  border-color: var(--bs-success);
}
.borderless.border-info td,
.borderless.border-info th {
  border-color: var(--bs-info);
}
.borderless.border-warning td,
.borderless.border-warning th {
  border-color: var(--bs-warning);
}
.borderless.border-main-clr td,
.borderless.border-main-clr th {
  border-color: #8156c2;
}

.table-p-0px table,
.table-p-0px thead,
.table-p-0px tbody,
.table-p-0px tfoot,
.table-p-0px th,
.table-p-0px td,
.table-p-0px tr {
  padding: 0rem;
}

.table-p-1px table,
.table-p-1px thead,
.table-p-1px tbody,
.table-p-1px tfoot,
.table-p-1px th,
.table-p-1px td,
.table-p-1px tr {
  padding: 0.0625rem;
}

.table-p-2px table,
.table-p-2px thead,
.table-p-2px tbody,
.table-p-2px tfoot,
.table-p-2px th,
.table-p-2px td,
.table-p-2px tr {
  padding: 0.125rem;
}

.table-p-3px table,
.table-p-3px thead,
.table-p-3px tbody,
.table-p-3px tfoot,
.table-p-3px th,
.table-p-3px td,
.table-p-3px tr {
  padding: 0.1875rem;
}

.table-p-4px table,
.table-p-4px thead,
.table-p-4px tbody,
.table-p-4px tfoot,
.table-p-4px th,
.table-p-4px td,
.table-p-4px tr {
  padding: 0.25rem;
}

.table-p-5px table,
.table-p-5px thead,
.table-p-5px tbody,
.table-p-5px tfoot,
.table-p-5px th,
.table-p-5px td,
.table-p-5px tr {
  padding: 0.3125rem;
}

.table-p-6px table,
.table-p-6px thead,
.table-p-6px tbody,
.table-p-6px tfoot,
.table-p-6px th,
.table-p-6px td,
.table-p-6px tr {
  padding: 0.375rem;
}

.table-p-7px table,
.table-p-7px thead,
.table-p-7px tbody,
.table-p-7px tfoot,
.table-p-7px th,
.table-p-7px td,
.table-p-7px tr {
  padding: 0.4375rem;
}

.table-p-8px table,
.table-p-8px thead,
.table-p-8px tbody,
.table-p-8px tfoot,
.table-p-8px th,
.table-p-8px td,
.table-p-8px tr {
  padding: 0.5rem;
}

.table-p-9px table,
.table-p-9px thead,
.table-p-9px tbody,
.table-p-9px tfoot,
.table-p-9px th,
.table-p-9px td,
.table-p-9px tr {
  padding: 0.5625rem;
}

.table-p-10px table,
.table-p-10px thead,
.table-p-10px tbody,
.table-p-10px tfoot,
.table-p-10px th,
.table-p-10px td,
.table-p-10px tr {
  padding: 0.625rem;
}

.img-fit-25 {
  width: 1.5625rem;
  height: 1.5625rem;
  object-fit: cover;
  object-position: center;
}

.rounded-img-25 {
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 50%;
  object-fit: cover;
}

.img-fit-50 {
  width: 3.125rem;
  height: 3.125rem;
  object-fit: cover;
  object-position: center;
}

.rounded-img-50 {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  object-fit: cover;
}

.img-fit-75 {
  width: 4.6875rem;
  height: 4.6875rem;
  object-fit: cover;
  object-position: center;
}

.rounded-img-75 {
  width: 4.6875rem;
  height: 4.6875rem;
  border-radius: 50%;
  object-fit: cover;
}

.img-fit-100 {
  width: 6.25rem;
  height: 6.25rem;
  object-fit: cover;
  object-position: center;
}

.rounded-img-100 {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  object-fit: cover;
}

.img-fit-125 {
  width: 7.8125rem;
  height: 7.8125rem;
  object-fit: cover;
  object-position: center;
}

.rounded-img-125 {
  width: 7.8125rem;
  height: 7.8125rem;
  border-radius: 50%;
  object-fit: cover;
}

.img-fit-150 {
  width: 9.375rem;
  height: 9.375rem;
  object-fit: cover;
  object-position: center;
}

.rounded-img-150 {
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50%;
  object-fit: cover;
}

.img-fit-175 {
  width: 10.9375rem;
  height: 10.9375rem;
  object-fit: cover;
  object-position: center;
}

.rounded-img-175 {
  width: 10.9375rem;
  height: 10.9375rem;
  border-radius: 50%;
  object-fit: cover;
}

.img-fit-200 {
  width: 12.5rem;
  height: 12.5rem;
  object-fit: cover;
  object-position: center;
}

.rounded-img-200 {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.fs-1px {
  font-size: 0.0625rem;
}

.fs-1em {
  font-size: 1em;
}

.fs-1dot-em {
  font-size: 0.5em;
}

.fs-2px {
  font-size: 0.125rem;
}

.fs-2em {
  font-size: 2em;
}

.fs-2dot-em {
  font-size: 1.5em;
}

.fs-3px {
  font-size: 0.1875rem;
}

.fs-3em {
  font-size: 3em;
}

.fs-3dot-em {
  font-size: 2.5em;
}

.fs-4px {
  font-size: 0.25rem;
}

.fs-4em {
  font-size: 4em;
}

.fs-4dot-em {
  font-size: 3.5em;
}

.fs-5px {
  font-size: 0.3125rem;
}

.fs-5em {
  font-size: 5em;
}

.fs-5dot-em {
  font-size: 4.5em;
}

.fs-6px {
  font-size: 0.375rem;
}

.fs-6em {
  font-size: 6em;
}

.fs-6dot-em {
  font-size: 5.5em;
}

.fs-7 {
  font-size: 0.4375rem;
}

.fs-7em {
  font-size: 7em;
}

.fs-7dot-em {
  font-size: 6.5em;
}

.fs-8 {
  font-size: 0.5rem;
}

.fs-8em {
  font-size: 8em;
}

.fs-8dot-em {
  font-size: 7.5em;
}

.fs-9 {
  font-size: 0.5625rem;
}

.fs-9em {
  font-size: 9em;
}

.fs-9dot-em {
  font-size: 8.5em;
}

.fs-10 {
  font-size: 0.625rem;
}

.fs-10em {
  font-size: 10em;
}

.fs-10dot-em {
  font-size: 9.5em;
}

.fs-11 {
  font-size: 0.6875rem;
}

.fs-11em {
  font-size: 11em;
}

.fs-11dot-em {
  font-size: 10.5em;
}

.fs-12 {
  font-size: 0.75rem;
}

.fs-12em {
  font-size: 12em;
}

.fs-12dot-em {
  font-size: 11.5em;
}

.fs-13 {
  font-size: 0.8125rem;
}

.fs-13em {
  font-size: 13em;
}

.fs-13dot-em {
  font-size: 12.5em;
}

.fs-14 {
  font-size: 0.875rem;
}

.fs-14em {
  font-size: 14em;
}

.fs-14dot-em {
  font-size: 13.5em;
}

.fs-15 {
  font-size: 0.9375rem;
}

.fs-15em {
  font-size: 15em;
}

.fs-15dot-em {
  font-size: 14.5em;
}

.fs-16 {
  font-size: 1rem;
}

.fs-16em {
  font-size: 16em;
}

.fs-16dot-em {
  font-size: 15.5em;
}

.fs-17 {
  font-size: 1.0625rem;
}

.fs-17em {
  font-size: 17em;
}

.fs-17dot-em {
  font-size: 16.5em;
}

.fs-18 {
  font-size: 1.125rem;
}

.fs-18em {
  font-size: 18em;
}

.fs-18dot-em {
  font-size: 17.5em;
}

.fs-19 {
  font-size: 1.1875rem;
}

.fs-19em {
  font-size: 19em;
}

.fs-19dot-em {
  font-size: 18.5em;
}

.fs-20 {
  font-size: 1.25rem;
}

.fs-20em {
  font-size: 20em;
}

.fs-20dot-em {
  font-size: 19.5em;
}

.fs-21 {
  font-size: 1.3125rem;
}

.fs-21em {
  font-size: 21em;
}

.fs-21dot-em {
  font-size: 20.5em;
}

.fs-22 {
  font-size: 1.375rem;
}

.fs-22em {
  font-size: 22em;
}

.fs-22dot-em {
  font-size: 21.5em;
}

.fs-23 {
  font-size: 1.4375rem;
}

.fs-23em {
  font-size: 23em;
}

.fs-23dot-em {
  font-size: 22.5em;
}

.fs-24 {
  font-size: 1.5rem;
}

.fs-24em {
  font-size: 24em;
}

.fs-24dot-em {
  font-size: 23.5em;
}

.fs-25 {
  font-size: 1.5625rem;
}

.fs-25em {
  font-size: 25em;
}

.fs-25dot-em {
  font-size: 24.5em;
}

.fs-26 {
  font-size: 1.625rem;
}

.fs-26em {
  font-size: 26em;
}

.fs-26dot-em {
  font-size: 25.5em;
}

.fs-27 {
  font-size: 1.6875rem;
}

.fs-27em {
  font-size: 27em;
}

.fs-27dot-em {
  font-size: 26.5em;
}

.fs-28 {
  font-size: 1.75rem;
}

.fs-28em {
  font-size: 28em;
}

.fs-28dot-em {
  font-size: 27.5em;
}

.fs-29 {
  font-size: 1.8125rem;
}

.fs-29em {
  font-size: 29em;
}

.fs-29dot-em {
  font-size: 28.5em;
}

.fs-30 {
  font-size: 1.875rem;
}

.fs-30em {
  font-size: 30em;
}

.fs-30dot-em {
  font-size: 29.5em;
}

.fs-31 {
  font-size: 1.9375rem;
}

.fs-31em {
  font-size: 31em;
}

.fs-31dot-em {
  font-size: 30.5em;
}

.fs-32 {
  font-size: 2rem;
}

.fs-32em {
  font-size: 32em;
}

.fs-32dot-em {
  font-size: 31.5em;
}

.fs-33 {
  font-size: 2.0625rem;
}

.fs-33em {
  font-size: 33em;
}

.fs-33dot-em {
  font-size: 32.5em;
}

.fs-34 {
  font-size: 2.125rem;
}

.fs-34em {
  font-size: 34em;
}

.fs-34dot-em {
  font-size: 33.5em;
}

.fs-35 {
  font-size: 2.1875rem;
}

.fs-35em {
  font-size: 35em;
}

.fs-35dot-em {
  font-size: 34.5em;
}

.fs-36 {
  font-size: 2.25rem;
}

.fs-36em {
  font-size: 36em;
}

.fs-36dot-em {
  font-size: 35.5em;
}

.fs-37 {
  font-size: 2.3125rem;
}

.fs-37em {
  font-size: 37em;
}

.fs-37dot-em {
  font-size: 36.5em;
}

.fs-38 {
  font-size: 2.375rem;
}

.fs-38em {
  font-size: 38em;
}

.fs-38dot-em {
  font-size: 37.5em;
}

.fs-39 {
  font-size: 2.4375rem;
}

.fs-39em {
  font-size: 39em;
}

.fs-39dot-em {
  font-size: 38.5em;
}

.fs-40 {
  font-size: 2.5rem;
}

.fs-40em {
  font-size: 40em;
}

.fs-40dot-em {
  font-size: 39.5em;
}

.fs-41 {
  font-size: 2.5625rem;
}

.fs-41em {
  font-size: 41em;
}

.fs-41dot-em {
  font-size: 40.5em;
}

.fs-42 {
  font-size: 2.625rem;
}

.fs-42em {
  font-size: 42em;
}

.fs-42dot-em {
  font-size: 41.5em;
}

.fs-43 {
  font-size: 2.6875rem;
}

.fs-43em {
  font-size: 43em;
}

.fs-43dot-em {
  font-size: 42.5em;
}

.fs-44 {
  font-size: 2.75rem;
}

.fs-44em {
  font-size: 44em;
}

.fs-44dot-em {
  font-size: 43.5em;
}

.fs-45 {
  font-size: 2.8125rem;
}

.fs-45em {
  font-size: 45em;
}

.fs-45dot-em {
  font-size: 44.5em;
}

.fs-46 {
  font-size: 2.875rem;
}

.fs-46em {
  font-size: 46em;
}

.fs-46dot-em {
  font-size: 45.5em;
}

.fs-47 {
  font-size: 2.9375rem;
}

.fs-47em {
  font-size: 47em;
}

.fs-47dot-em {
  font-size: 46.5em;
}

.fs-48 {
  font-size: 3rem;
}

.fs-48em {
  font-size: 48em;
}

.fs-48dot-em {
  font-size: 47.5em;
}

.fs-49 {
  font-size: 3.0625rem;
}

.fs-49em {
  font-size: 49em;
}

.fs-49dot-em {
  font-size: 48.5em;
}

.fs-50 {
  font-size: 3.125rem;
}

.fs-50em {
  font-size: 50em;
}

.fs-50dot-em {
  font-size: 49.5em;
}

.w-10px {
  width: 10px !important;
}

.w-15px {
  width: 15px !important;
}

.w-10pc {
  width: 10% !important;
}

@media (max-width: 767px) {
  .w-sm-10pc {
    width: 10% !important;
  }
}

.mw-10px {
  max-width: 10px !important;
}

.min-w-10px {
  min-width: 10px !important;
}

.h-10px {
  height: 10px !important;
}

.h-15px {
  height: 15px !important;
}

.h-10pc {
  height: 10% !important;
}

@media (max-width: 767px) {
  .h-sm-10pc {
    height: 10% !important;
  }
}

.mh-10px {
  max-height: 10px !important;
}

.min-h-10px {
  min-height: 10px !important;
}

.w-20px {
  width: 20px !important;
}

.w-25px {
  width: 25px !important;
}

.w-20pc {
  width: 20% !important;
}

@media (max-width: 767px) {
  .w-sm-20pc {
    width: 20% !important;
  }
}

.mw-20px {
  max-width: 20px !important;
}

.min-w-20px {
  min-width: 20px !important;
}

.h-20px {
  height: 20px !important;
}

.h-25px {
  height: 25px !important;
}

.h-20pc {
  height: 20% !important;
}

@media (max-width: 767px) {
  .h-sm-20pc {
    height: 20% !important;
  }
}

.mh-20px {
  max-height: 20px !important;
}

.min-h-20px {
  min-height: 20px !important;
}

.w-30px {
  width: 30px !important;
}

.w-35px {
  width: 35px !important;
}

.w-30pc {
  width: 30% !important;
}

@media (max-width: 767px) {
  .w-sm-30pc {
    width: 30% !important;
  }
}

.mw-30px {
  max-width: 30px !important;
}

.min-w-30px {
  min-width: 30px !important;
}

.h-30px {
  height: 30px !important;
}

.h-35px {
  height: 35px !important;
}

.h-30pc {
  height: 30% !important;
}

@media (max-width: 767px) {
  .h-sm-30pc {
    height: 30% !important;
  }
}

.mh-30px {
  max-height: 30px !important;
}

.min-h-30px {
  min-height: 30px !important;
}

.w-40px {
  width: 40px !important;
}

.w-45px {
  width: 45px !important;
}

.w-40pc {
  width: 40% !important;
}

@media (max-width: 767px) {
  .w-sm-40pc {
    width: 40% !important;
  }
}

.mw-40px {
  max-width: 40px !important;
}

.min-w-40px {
  min-width: 40px !important;
}

.h-40px {
  height: 40px !important;
}

.h-45px {
  height: 45px !important;
}

.h-40pc {
  height: 40% !important;
}

@media (max-width: 767px) {
  .h-sm-40pc {
    height: 40% !important;
  }
}

.mh-40px {
  max-height: 40px !important;
}

.min-h-40px {
  min-height: 40px !important;
}

.w-50px {
  width: 50px !important;
}

.w-55px {
  width: 55px !important;
}

.w-50pc {
  width: 50% !important;
}

@media (max-width: 767px) {
  .w-sm-50pc {
    width: 50% !important;
  }
}

.mw-50px {
  max-width: 50px !important;
}

.min-w-50px {
  min-width: 50px !important;
}

.h-50px {
  height: 50px !important;
}

.h-55px {
  height: 55px !important;
}

.h-50pc {
  height: 50% !important;
}

@media (max-width: 767px) {
  .h-sm-50pc {
    height: 50% !important;
  }
}

.mh-50px {
  max-height: 50px !important;
}

.min-h-50px {
  min-height: 50px !important;
}

.w-60px {
  width: 60px !important;
}

.w-65px {
  width: 65px !important;
}

.w-60pc {
  width: 60% !important;
}

@media (max-width: 767px) {
  .w-sm-60pc {
    width: 60% !important;
  }
}

.mw-60px {
  max-width: 60px !important;
}

.min-w-60px {
  min-width: 60px !important;
}

.h-60px {
  height: 60px !important;
}

.h-65px {
  height: 65px !important;
}

.h-60pc {
  height: 60% !important;
}

@media (max-width: 767px) {
  .h-sm-60pc {
    height: 60% !important;
  }
}

.mh-60px {
  max-height: 60px !important;
}

.min-h-60px {
  min-height: 60px !important;
}

.w-70px {
  width: 70px !important;
}

.w-75px {
  width: 75px !important;
}

.w-70pc {
  width: 70% !important;
}

@media (max-width: 767px) {
  .w-sm-70pc {
    width: 70% !important;
  }
}

.mw-70px {
  max-width: 70px !important;
}

.min-w-70px {
  min-width: 70px !important;
}

.h-70px {
  height: 70px !important;
}

.h-75px {
  height: 75px !important;
}

.h-70pc {
  height: 70% !important;
}

@media (max-width: 767px) {
  .h-sm-70pc {
    height: 70% !important;
  }
}

.mh-70px {
  max-height: 70px !important;
}

.min-h-70px {
  min-height: 70px !important;
}

.w-80px {
  width: 80px !important;
}

.w-85px {
  width: 85px !important;
}

.w-80pc {
  width: 80% !important;
}

@media (max-width: 767px) {
  .w-sm-80pc {
    width: 80% !important;
  }
}

.mw-80px {
  max-width: 80px !important;
}

.min-w-80px {
  min-width: 80px !important;
}

.h-80px {
  height: 80px !important;
}

.h-85px {
  height: 85px !important;
}

.h-80pc {
  height: 80% !important;
}

@media (max-width: 767px) {
  .h-sm-80pc {
    height: 80% !important;
  }
}

.mh-80px {
  max-height: 80px !important;
}

.min-h-80px {
  min-height: 80px !important;
}

.w-90px {
  width: 90px !important;
}

.w-95px {
  width: 95px !important;
}

.w-90pc {
  width: 90% !important;
}

@media (max-width: 767px) {
  .w-sm-90pc {
    width: 90% !important;
  }
}

.mw-90px {
  max-width: 90px !important;
}

.min-w-90px {
  min-width: 90px !important;
}

.h-90px {
  height: 90px !important;
}

.h-95px {
  height: 95px !important;
}

.h-90pc {
  height: 90% !important;
}

@media (max-width: 767px) {
  .h-sm-90pc {
    height: 90% !important;
  }
}

.mh-90px {
  max-height: 90px !important;
}

.min-h-90px {
  min-height: 90px !important;
}

.w-100px {
  width: 100px !important;
}

.w-105px {
  width: 105px !important;
}

.w-100pc {
  width: 100% !important;
}

@media (max-width: 767px) {
  .w-sm-100pc {
    width: 100% !important;
  }
}

.mw-100px {
  max-width: 100px !important;
}

.min-w-100px {
  min-width: 100px !important;
}

.h-100px {
  height: 100px !important;
}

.h-105px {
  height: 105px !important;
}

.h-100pc {
  height: 100% !important;
}

@media (max-width: 767px) {
  .h-sm-100pc {
    height: 100% !important;
  }
}

.mh-100px {
  max-height: 100px !important;
}

.min-h-100px {
  min-height: 100px !important;
}

.w-110px {
  width: 110px !important;
}

.w-115px {
  width: 115px !important;
}

.w-110pc {
  width: 110% !important;
}

@media (max-width: 767px) {
  .w-sm-110pc {
    width: 110% !important;
  }
}

.mw-110px {
  max-width: 110px !important;
}

.min-w-110px {
  min-width: 110px !important;
}

.h-110px {
  height: 110px !important;
}

.h-115px {
  height: 115px !important;
}

.h-110pc {
  height: 110% !important;
}

@media (max-width: 767px) {
  .h-sm-110pc {
    height: 110% !important;
  }
}

.mh-110px {
  max-height: 110px !important;
}

.min-h-110px {
  min-height: 110px !important;
}

.w-120px {
  width: 120px !important;
}

.w-125px {
  width: 125px !important;
}

.w-120pc {
  width: 120% !important;
}

@media (max-width: 767px) {
  .w-sm-120pc {
    width: 120% !important;
  }
}

.mw-120px {
  max-width: 120px !important;
}

.min-w-120px {
  min-width: 120px !important;
}

.h-120px {
  height: 120px !important;
}

.h-125px {
  height: 125px !important;
}

.h-120pc {
  height: 120% !important;
}

@media (max-width: 767px) {
  .h-sm-120pc {
    height: 120% !important;
  }
}

.mh-120px {
  max-height: 120px !important;
}

.min-h-120px {
  min-height: 120px !important;
}

.w-130px {
  width: 130px !important;
}

.w-135px {
  width: 135px !important;
}

.w-130pc {
  width: 130% !important;
}

@media (max-width: 767px) {
  .w-sm-130pc {
    width: 130% !important;
  }
}

.mw-130px {
  max-width: 130px !important;
}

.min-w-130px {
  min-width: 130px !important;
}

.h-130px {
  height: 130px !important;
}

.h-135px {
  height: 135px !important;
}

.h-130pc {
  height: 130% !important;
}

@media (max-width: 767px) {
  .h-sm-130pc {
    height: 130% !important;
  }
}

.mh-130px {
  max-height: 130px !important;
}

.min-h-130px {
  min-height: 130px !important;
}

.w-140px {
  width: 140px !important;
}

.w-145px {
  width: 145px !important;
}

.w-140pc {
  width: 140% !important;
}

@media (max-width: 767px) {
  .w-sm-140pc {
    width: 140% !important;
  }
}

.mw-140px {
  max-width: 140px !important;
}

.min-w-140px {
  min-width: 140px !important;
}

.h-140px {
  height: 140px !important;
}

.h-145px {
  height: 145px !important;
}

.h-140pc {
  height: 140% !important;
}

@media (max-width: 767px) {
  .h-sm-140pc {
    height: 140% !important;
  }
}

.mh-140px {
  max-height: 140px !important;
}

.min-h-140px {
  min-height: 140px !important;
}

.w-150px {
  width: 150px !important;
}

.w-155px {
  width: 155px !important;
}

.w-150pc {
  width: 150% !important;
}

@media (max-width: 767px) {
  .w-sm-150pc {
    width: 150% !important;
  }
}

.mw-150px {
  max-width: 150px !important;
}

.min-w-150px {
  min-width: 150px !important;
}

.h-150px {
  height: 150px !important;
}

.h-155px {
  height: 155px !important;
}

.h-150pc {
  height: 150% !important;
}

@media (max-width: 767px) {
  .h-sm-150pc {
    height: 150% !important;
  }
}

.mh-150px {
  max-height: 150px !important;
}

.min-h-150px {
  min-height: 150px !important;
}

.w-160px {
  width: 160px !important;
}

.w-165px {
  width: 165px !important;
}

.w-160pc {
  width: 160% !important;
}

@media (max-width: 767px) {
  .w-sm-160pc {
    width: 160% !important;
  }
}

.mw-160px {
  max-width: 160px !important;
}

.min-w-160px {
  min-width: 160px !important;
}

.h-160px {
  height: 160px !important;
}

.h-165px {
  height: 165px !important;
}

.h-160pc {
  height: 160% !important;
}

@media (max-width: 767px) {
  .h-sm-160pc {
    height: 160% !important;
  }
}

.mh-160px {
  max-height: 160px !important;
}

.min-h-160px {
  min-height: 160px !important;
}

.w-170px {
  width: 170px !important;
}

.w-175px {
  width: 175px !important;
}

.w-170pc {
  width: 170% !important;
}

@media (max-width: 767px) {
  .w-sm-170pc {
    width: 170% !important;
  }
}

.mw-170px {
  max-width: 170px !important;
}

.min-w-170px {
  min-width: 170px !important;
}

.h-170px {
  height: 170px !important;
}

.h-175px {
  height: 175px !important;
}

.h-170pc {
  height: 170% !important;
}

@media (max-width: 767px) {
  .h-sm-170pc {
    height: 170% !important;
  }
}

.mh-170px {
  max-height: 170px !important;
}

.min-h-170px {
  min-height: 170px !important;
}

.w-180px {
  width: 180px !important;
}

.w-185px {
  width: 185px !important;
}

.w-180pc {
  width: 180% !important;
}

@media (max-width: 767px) {
  .w-sm-180pc {
    width: 180% !important;
  }
}

.mw-180px {
  max-width: 180px !important;
}

.min-w-180px {
  min-width: 180px !important;
}

.h-180px {
  height: 180px !important;
}

.h-185px {
  height: 185px !important;
}

.h-180pc {
  height: 180% !important;
}

@media (max-width: 767px) {
  .h-sm-180pc {
    height: 180% !important;
  }
}

.mh-180px {
  max-height: 180px !important;
}

.min-h-180px {
  min-height: 180px !important;
}

.w-190px {
  width: 190px !important;
}

.w-195px {
  width: 195px !important;
}

.w-190pc {
  width: 190% !important;
}

@media (max-width: 767px) {
  .w-sm-190pc {
    width: 190% !important;
  }
}

.mw-190px {
  max-width: 190px !important;
}

.min-w-190px {
  min-width: 190px !important;
}

.h-190px {
  height: 190px !important;
}

.h-195px {
  height: 195px !important;
}

.h-190pc {
  height: 190% !important;
}

@media (max-width: 767px) {
  .h-sm-190pc {
    height: 190% !important;
  }
}

.mh-190px {
  max-height: 190px !important;
}

.min-h-190px {
  min-height: 190px !important;
}

.w-200px {
  width: 200px !important;
}

.w-205px {
  width: 205px !important;
}

.w-200pc {
  width: 200% !important;
}

@media (max-width: 767px) {
  .w-sm-200pc {
    width: 200% !important;
  }
}

.mw-200px {
  max-width: 200px !important;
}

.min-w-200px {
  min-width: 200px !important;
}

.h-200px {
  height: 200px !important;
}

.h-205px {
  height: 205px !important;
}

.h-200pc {
  height: 200% !important;
}

@media (max-width: 767px) {
  .h-sm-200pc {
    height: 200% !important;
  }
}

.mh-200px {
  max-height: 200px !important;
}

.min-h-200px {
  min-height: 200px !important;
}

.w-210px {
  width: 210px !important;
}

.w-215px {
  width: 215px !important;
}

.w-210pc {
  width: 210% !important;
}

@media (max-width: 767px) {
  .w-sm-210pc {
    width: 210% !important;
  }
}

.mw-210px {
  max-width: 210px !important;
}

.min-w-210px {
  min-width: 210px !important;
}

.h-210px {
  height: 210px !important;
}

.h-215px {
  height: 215px !important;
}

.h-210pc {
  height: 210% !important;
}

@media (max-width: 767px) {
  .h-sm-210pc {
    height: 210% !important;
  }
}

.mh-210px {
  max-height: 210px !important;
}

.min-h-210px {
  min-height: 210px !important;
}

.w-220px {
  width: 220px !important;
}

.w-225px {
  width: 225px !important;
}

.w-220pc {
  width: 220% !important;
}

@media (max-width: 767px) {
  .w-sm-220pc {
    width: 220% !important;
  }
}

.mw-220px {
  max-width: 220px !important;
}

.min-w-220px {
  min-width: 220px !important;
}

.h-220px {
  height: 220px !important;
}

.h-225px {
  height: 225px !important;
}

.h-220pc {
  height: 220% !important;
}

@media (max-width: 767px) {
  .h-sm-220pc {
    height: 220% !important;
  }
}

.mh-220px {
  max-height: 220px !important;
}

.min-h-220px {
  min-height: 220px !important;
}

.w-230px {
  width: 230px !important;
}

.w-235px {
  width: 235px !important;
}

.w-230pc {
  width: 230% !important;
}

@media (max-width: 767px) {
  .w-sm-230pc {
    width: 230% !important;
  }
}

.mw-230px {
  max-width: 230px !important;
}

.min-w-230px {
  min-width: 230px !important;
}

.h-230px {
  height: 230px !important;
}

.h-235px {
  height: 235px !important;
}

.h-230pc {
  height: 230% !important;
}

@media (max-width: 767px) {
  .h-sm-230pc {
    height: 230% !important;
  }
}

.mh-230px {
  max-height: 230px !important;
}

.min-h-230px {
  min-height: 230px !important;
}

.w-240px {
  width: 240px !important;
}

.w-245px {
  width: 245px !important;
}

.w-240pc {
  width: 240% !important;
}

@media (max-width: 767px) {
  .w-sm-240pc {
    width: 240% !important;
  }
}

.mw-240px {
  max-width: 240px !important;
}

.min-w-240px {
  min-width: 240px !important;
}

.h-240px {
  height: 240px !important;
}

.h-245px {
  height: 245px !important;
}

.h-240pc {
  height: 240% !important;
}

@media (max-width: 767px) {
  .h-sm-240pc {
    height: 240% !important;
  }
}

.mh-240px {
  max-height: 240px !important;
}

.min-h-240px {
  min-height: 240px !important;
}

.w-250px {
  width: 250px !important;
}

.w-255px {
  width: 255px !important;
}

.w-250pc {
  width: 250% !important;
}

@media (max-width: 767px) {
  .w-sm-250pc {
    width: 250% !important;
  }
}

.mw-250px {
  max-width: 250px !important;
}

.min-w-250px {
  min-width: 250px !important;
}

.h-250px {
  height: 250px !important;
}

.h-255px {
  height: 255px !important;
}

.h-250pc {
  height: 250% !important;
}

@media (max-width: 767px) {
  .h-sm-250pc {
    height: 250% !important;
  }
}

.mh-250px {
  max-height: 250px !important;
}

.min-h-250px {
  min-height: 250px !important;
}

.w-260px {
  width: 260px !important;
}

.w-265px {
  width: 265px !important;
}

.w-260pc {
  width: 260% !important;
}

@media (max-width: 767px) {
  .w-sm-260pc {
    width: 260% !important;
  }
}

.mw-260px {
  max-width: 260px !important;
}

.min-w-260px {
  min-width: 260px !important;
}

.h-260px {
  height: 260px !important;
}

.h-265px {
  height: 265px !important;
}

.h-260pc {
  height: 260% !important;
}

@media (max-width: 767px) {
  .h-sm-260pc {
    height: 260% !important;
  }
}

.mh-260px {
  max-height: 260px !important;
}

.min-h-260px {
  min-height: 260px !important;
}

.w-270px {
  width: 270px !important;
}

.w-275px {
  width: 275px !important;
}

.w-270pc {
  width: 270% !important;
}

@media (max-width: 767px) {
  .w-sm-270pc {
    width: 270% !important;
  }
}

.mw-270px {
  max-width: 270px !important;
}

.min-w-270px {
  min-width: 270px !important;
}

.h-270px {
  height: 270px !important;
}

.h-275px {
  height: 275px !important;
}

.h-270pc {
  height: 270% !important;
}

@media (max-width: 767px) {
  .h-sm-270pc {
    height: 270% !important;
  }
}

.mh-270px {
  max-height: 270px !important;
}

.min-h-270px {
  min-height: 270px !important;
}

.w-280px {
  width: 280px !important;
}

.w-285px {
  width: 285px !important;
}

.w-280pc {
  width: 280% !important;
}

@media (max-width: 767px) {
  .w-sm-280pc {
    width: 280% !important;
  }
}

.mw-280px {
  max-width: 280px !important;
}

.min-w-280px {
  min-width: 280px !important;
}

.h-280px {
  height: 280px !important;
}

.h-285px {
  height: 285px !important;
}

.h-280pc {
  height: 280% !important;
}

@media (max-width: 767px) {
  .h-sm-280pc {
    height: 280% !important;
  }
}

.mh-280px {
  max-height: 280px !important;
}

.min-h-280px {
  min-height: 280px !important;
}

.w-290px {
  width: 290px !important;
}

.w-295px {
  width: 295px !important;
}

.w-290pc {
  width: 290% !important;
}

@media (max-width: 767px) {
  .w-sm-290pc {
    width: 290% !important;
  }
}

.mw-290px {
  max-width: 290px !important;
}

.min-w-290px {
  min-width: 290px !important;
}

.h-290px {
  height: 290px !important;
}

.h-295px {
  height: 295px !important;
}

.h-290pc {
  height: 290% !important;
}

@media (max-width: 767px) {
  .h-sm-290pc {
    height: 290% !important;
  }
}

.mh-290px {
  max-height: 290px !important;
}

.min-h-290px {
  min-height: 290px !important;
}

.w-300px {
  width: 300px !important;
}

.w-305px {
  width: 305px !important;
}

.w-300pc {
  width: 300% !important;
}

@media (max-width: 767px) {
  .w-sm-300pc {
    width: 300% !important;
  }
}

.mw-300px {
  max-width: 300px !important;
}

.min-w-300px {
  min-width: 300px !important;
}

.h-300px {
  height: 300px !important;
}

.h-305px {
  height: 305px !important;
}

.h-300pc {
  height: 300% !important;
}

@media (max-width: 767px) {
  .h-sm-300pc {
    height: 300% !important;
  }
}

.mh-300px {
  max-height: 300px !important;
}

.min-h-300px {
  min-height: 300px !important;
}

.w-310px {
  width: 310px !important;
}

.w-315px {
  width: 315px !important;
}

.w-310pc {
  width: 310% !important;
}

@media (max-width: 767px) {
  .w-sm-310pc {
    width: 310% !important;
  }
}

.mw-310px {
  max-width: 310px !important;
}

.min-w-310px {
  min-width: 310px !important;
}

.h-310px {
  height: 310px !important;
}

.h-315px {
  height: 315px !important;
}

.h-310pc {
  height: 310% !important;
}

@media (max-width: 767px) {
  .h-sm-310pc {
    height: 310% !important;
  }
}

.mh-310px {
  max-height: 310px !important;
}

.min-h-310px {
  min-height: 310px !important;
}

.w-320px {
  width: 320px !important;
}

.w-325px {
  width: 325px !important;
}

.w-320pc {
  width: 320% !important;
}

@media (max-width: 767px) {
  .w-sm-320pc {
    width: 320% !important;
  }
}

.mw-320px {
  max-width: 320px !important;
}

.min-w-320px {
  min-width: 320px !important;
}

.h-320px {
  height: 320px !important;
}

.h-325px {
  height: 325px !important;
}

.h-320pc {
  height: 320% !important;
}

@media (max-width: 767px) {
  .h-sm-320pc {
    height: 320% !important;
  }
}

.mh-320px {
  max-height: 320px !important;
}

.min-h-320px {
  min-height: 320px !important;
}

.w-330px {
  width: 330px !important;
}

.w-335px {
  width: 335px !important;
}

.w-330pc {
  width: 330% !important;
}

@media (max-width: 767px) {
  .w-sm-330pc {
    width: 330% !important;
  }
}

.mw-330px {
  max-width: 330px !important;
}

.min-w-330px {
  min-width: 330px !important;
}

.h-330px {
  height: 330px !important;
}

.h-335px {
  height: 335px !important;
}

.h-330pc {
  height: 330% !important;
}

@media (max-width: 767px) {
  .h-sm-330pc {
    height: 330% !important;
  }
}

.mh-330px {
  max-height: 330px !important;
}

.min-h-330px {
  min-height: 330px !important;
}

.w-340px {
  width: 340px !important;
}

.w-345px {
  width: 345px !important;
}

.w-340pc {
  width: 340% !important;
}

@media (max-width: 767px) {
  .w-sm-340pc {
    width: 340% !important;
  }
}

.mw-340px {
  max-width: 340px !important;
}

.min-w-340px {
  min-width: 340px !important;
}

.h-340px {
  height: 340px !important;
}

.h-345px {
  height: 345px !important;
}

.h-340pc {
  height: 340% !important;
}

@media (max-width: 767px) {
  .h-sm-340pc {
    height: 340% !important;
  }
}

.mh-340px {
  max-height: 340px !important;
}

.min-h-340px {
  min-height: 340px !important;
}

.w-350px {
  width: 350px !important;
}

.w-355px {
  width: 355px !important;
}

.w-350pc {
  width: 350% !important;
}

@media (max-width: 767px) {
  .w-sm-350pc {
    width: 350% !important;
  }
}

.mw-350px {
  max-width: 350px !important;
}

.min-w-350px {
  min-width: 350px !important;
}

.h-350px {
  height: 350px !important;
}

.h-355px {
  height: 355px !important;
}

.h-350pc {
  height: 350% !important;
}

@media (max-width: 767px) {
  .h-sm-350pc {
    height: 350% !important;
  }
}

.mh-350px {
  max-height: 350px !important;
}

.min-h-350px {
  min-height: 350px !important;
}

.w-360px {
  width: 360px !important;
}

.w-365px {
  width: 365px !important;
}

.w-360pc {
  width: 360% !important;
}

@media (max-width: 767px) {
  .w-sm-360pc {
    width: 360% !important;
  }
}

.mw-360px {
  max-width: 360px !important;
}

.min-w-360px {
  min-width: 360px !important;
}

.h-360px {
  height: 360px !important;
}

.h-365px {
  height: 365px !important;
}

.h-360pc {
  height: 360% !important;
}

@media (max-width: 767px) {
  .h-sm-360pc {
    height: 360% !important;
  }
}

.mh-360px {
  max-height: 360px !important;
}

.min-h-360px {
  min-height: 360px !important;
}

.w-370px {
  width: 370px !important;
}

.w-375px {
  width: 375px !important;
}

.w-370pc {
  width: 370% !important;
}

@media (max-width: 767px) {
  .w-sm-370pc {
    width: 370% !important;
  }
}

.mw-370px {
  max-width: 370px !important;
}

.min-w-370px {
  min-width: 370px !important;
}

.h-370px {
  height: 370px !important;
}

.h-375px {
  height: 375px !important;
}

.h-370pc {
  height: 370% !important;
}

@media (max-width: 767px) {
  .h-sm-370pc {
    height: 370% !important;
  }
}

.mh-370px {
  max-height: 370px !important;
}

.min-h-370px {
  min-height: 370px !important;
}

.w-380px {
  width: 380px !important;
}

.w-385px {
  width: 385px !important;
}

.w-380pc {
  width: 380% !important;
}

@media (max-width: 767px) {
  .w-sm-380pc {
    width: 380% !important;
  }
}

.mw-380px {
  max-width: 380px !important;
}

.min-w-380px {
  min-width: 380px !important;
}

.h-380px {
  height: 380px !important;
}

.h-385px {
  height: 385px !important;
}

.h-380pc {
  height: 380% !important;
}

@media (max-width: 767px) {
  .h-sm-380pc {
    height: 380% !important;
  }
}

.mh-380px {
  max-height: 380px !important;
}

.min-h-380px {
  min-height: 380px !important;
}

.w-390px {
  width: 390px !important;
}

.w-395px {
  width: 395px !important;
}

.w-390pc {
  width: 390% !important;
}

@media (max-width: 767px) {
  .w-sm-390pc {
    width: 390% !important;
  }
}

.mw-390px {
  max-width: 390px !important;
}

.min-w-390px {
  min-width: 390px !important;
}

.h-390px {
  height: 390px !important;
}

.h-395px {
  height: 395px !important;
}

.h-390pc {
  height: 390% !important;
}

@media (max-width: 767px) {
  .h-sm-390pc {
    height: 390% !important;
  }
}

.mh-390px {
  max-height: 390px !important;
}

.min-h-390px {
  min-height: 390px !important;
}

.w-400px {
  width: 400px !important;
}

.w-405px {
  width: 405px !important;
}

.w-400pc {
  width: 400% !important;
}

@media (max-width: 767px) {
  .w-sm-400pc {
    width: 400% !important;
  }
}

.mw-400px {
  max-width: 400px !important;
}

.min-w-400px {
  min-width: 400px !important;
}

.h-400px {
  height: 400px !important;
}

.h-405px {
  height: 405px !important;
}

.h-400pc {
  height: 400% !important;
}

@media (max-width: 767px) {
  .h-sm-400pc {
    height: 400% !important;
  }
}

.mh-400px {
  max-height: 400px !important;
}

.min-h-400px {
  min-height: 400px !important;
}

.w-410px {
  width: 410px !important;
}

.w-415px {
  width: 415px !important;
}

.w-410pc {
  width: 410% !important;
}

@media (max-width: 767px) {
  .w-sm-410pc {
    width: 410% !important;
  }
}

.mw-410px {
  max-width: 410px !important;
}

.min-w-410px {
  min-width: 410px !important;
}

.h-410px {
  height: 410px !important;
}

.h-415px {
  height: 415px !important;
}

.h-410pc {
  height: 410% !important;
}

@media (max-width: 767px) {
  .h-sm-410pc {
    height: 410% !important;
  }
}

.mh-410px {
  max-height: 410px !important;
}

.min-h-410px {
  min-height: 410px !important;
}

.w-420px {
  width: 420px !important;
}

.w-425px {
  width: 425px !important;
}

.w-420pc {
  width: 420% !important;
}

@media (max-width: 767px) {
  .w-sm-420pc {
    width: 420% !important;
  }
}

.mw-420px {
  max-width: 420px !important;
}

.min-w-420px {
  min-width: 420px !important;
}

.h-420px {
  height: 420px !important;
}

.h-425px {
  height: 425px !important;
}

.h-420pc {
  height: 420% !important;
}

@media (max-width: 767px) {
  .h-sm-420pc {
    height: 420% !important;
  }
}

.mh-420px {
  max-height: 420px !important;
}

.min-h-420px {
  min-height: 420px !important;
}

.w-430px {
  width: 430px !important;
}

.w-435px {
  width: 435px !important;
}

.w-430pc {
  width: 430% !important;
}

@media (max-width: 767px) {
  .w-sm-430pc {
    width: 430% !important;
  }
}

.mw-430px {
  max-width: 430px !important;
}

.min-w-430px {
  min-width: 430px !important;
}

.h-430px {
  height: 430px !important;
}

.h-435px {
  height: 435px !important;
}

.h-430pc {
  height: 430% !important;
}

@media (max-width: 767px) {
  .h-sm-430pc {
    height: 430% !important;
  }
}

.mh-430px {
  max-height: 430px !important;
}

.min-h-430px {
  min-height: 430px !important;
}

.w-440px {
  width: 440px !important;
}

.w-445px {
  width: 445px !important;
}

.w-440pc {
  width: 440% !important;
}

@media (max-width: 767px) {
  .w-sm-440pc {
    width: 440% !important;
  }
}

.mw-440px {
  max-width: 440px !important;
}

.min-w-440px {
  min-width: 440px !important;
}

.h-440px {
  height: 440px !important;
}

.h-445px {
  height: 445px !important;
}

.h-440pc {
  height: 440% !important;
}

@media (max-width: 767px) {
  .h-sm-440pc {
    height: 440% !important;
  }
}

.mh-440px {
  max-height: 440px !important;
}

.min-h-440px {
  min-height: 440px !important;
}

.w-450px {
  width: 450px !important;
}

.w-455px {
  width: 455px !important;
}

.w-450pc {
  width: 450% !important;
}

@media (max-width: 767px) {
  .w-sm-450pc {
    width: 450% !important;
  }
}

.mw-450px {
  max-width: 450px !important;
}

.min-w-450px {
  min-width: 450px !important;
}

.h-450px {
  height: 450px !important;
}

.h-455px {
  height: 455px !important;
}

.h-450pc {
  height: 450% !important;
}

@media (max-width: 767px) {
  .h-sm-450pc {
    height: 450% !important;
  }
}

.mh-450px {
  max-height: 450px !important;
}

.min-h-450px {
  min-height: 450px !important;
}

.w-460px {
  width: 460px !important;
}

.w-465px {
  width: 465px !important;
}

.w-460pc {
  width: 460% !important;
}

@media (max-width: 767px) {
  .w-sm-460pc {
    width: 460% !important;
  }
}

.mw-460px {
  max-width: 460px !important;
}

.min-w-460px {
  min-width: 460px !important;
}

.h-460px {
  height: 460px !important;
}

.h-465px {
  height: 465px !important;
}

.h-460pc {
  height: 460% !important;
}

@media (max-width: 767px) {
  .h-sm-460pc {
    height: 460% !important;
  }
}

.mh-460px {
  max-height: 460px !important;
}

.min-h-460px {
  min-height: 460px !important;
}

.w-470px {
  width: 470px !important;
}

.w-475px {
  width: 475px !important;
}

.w-470pc {
  width: 470% !important;
}

@media (max-width: 767px) {
  .w-sm-470pc {
    width: 470% !important;
  }
}

.mw-470px {
  max-width: 470px !important;
}

.min-w-470px {
  min-width: 470px !important;
}

.h-470px {
  height: 470px !important;
}

.h-475px {
  height: 475px !important;
}

.h-470pc {
  height: 470% !important;
}

@media (max-width: 767px) {
  .h-sm-470pc {
    height: 470% !important;
  }
}

.mh-470px {
  max-height: 470px !important;
}

.min-h-470px {
  min-height: 470px !important;
}

.w-480px {
  width: 480px !important;
}

.w-485px {
  width: 485px !important;
}

.w-480pc {
  width: 480% !important;
}

@media (max-width: 767px) {
  .w-sm-480pc {
    width: 480% !important;
  }
}

.mw-480px {
  max-width: 480px !important;
}

.min-w-480px {
  min-width: 480px !important;
}

.h-480px {
  height: 480px !important;
}

.h-485px {
  height: 485px !important;
}

.h-480pc {
  height: 480% !important;
}

@media (max-width: 767px) {
  .h-sm-480pc {
    height: 480% !important;
  }
}

.mh-480px {
  max-height: 480px !important;
}

.min-h-480px {
  min-height: 480px !important;
}

.w-490px {
  width: 490px !important;
}

.w-495px {
  width: 495px !important;
}

.w-490pc {
  width: 490% !important;
}

@media (max-width: 767px) {
  .w-sm-490pc {
    width: 490% !important;
  }
}

.mw-490px {
  max-width: 490px !important;
}

.min-w-490px {
  min-width: 490px !important;
}

.h-490px {
  height: 490px !important;
}

.h-495px {
  height: 495px !important;
}

.h-490pc {
  height: 490% !important;
}

@media (max-width: 767px) {
  .h-sm-490pc {
    height: 490% !important;
  }
}

.mh-490px {
  max-height: 490px !important;
}

.min-h-490px {
  min-height: 490px !important;
}

.w-500px {
  width: 500px !important;
}

.w-505px {
  width: 505px !important;
}

.w-500pc {
  width: 500% !important;
}

@media (max-width: 767px) {
  .w-sm-500pc {
    width: 500% !important;
  }
}

.mw-500px {
  max-width: 500px !important;
}

.min-w-500px {
  min-width: 500px !important;
}

.h-500px {
  height: 500px !important;
}

.h-505px {
  height: 505px !important;
}

.h-500pc {
  height: 500% !important;
}

@media (max-width: 767px) {
  .h-sm-500pc {
    height: 500% !important;
  }
}

.mh-500px {
  max-height: 500px !important;
}

.min-h-500px {
  min-height: 500px !important;
}

/* -------- Components -------- */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-main-clr {
  color: #8156c2 !important;
}

.bg-main-clr {
  background-color: var(--main-clr) !important;
}
.bg-main-clr.transition {
  transition: 0.4s ease;
}
.bg-main-clr.transition:hover {
  background-color: var(--main-clr-hover) !important;
}

.btn-main-clr {
  padding: 0.375rem 0.75rem;
  text-transform: capitalize;
  color: #fff;
  background-color: var(--main-clr) !important;
  border-radius: 0.3125rem;
  border: 0.0625rem solid var(--main-clr);
  text-align: center;
  user-select: none;
  transition: 0.4s ease;
  cursor: pointer;
}
.btn-main-clr:hover {
  background-color: var(--main-clr-hover) !important;
  color: #fff;
}

.divider {
  width: max-content;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  border-left: 1px solid black;
}

/********************** Global Style *************/
label {
  font-weight: 500;
}

table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}
table * {
  text-align: center;
  text-transform: capitalize;
}
table th {
  font: inherit;
  padding: 0.5rem;
}

hr {
  border-color: black;
}
hr.dashed {
  border-style: dashed;
  margin: 0.3125rem 0;
}

table th,
input::placeholder,
label {
  text-transform: capitalize;
}

.form-control:focus,
textarea:focus,
select:focus,
input:focus {
  color: #212529;
  background-color: #fff;
  border-color: var(--main-clr);
  box-shadow: 0 0 0 0.0625rem var(--main-clr);
  outline: 0;
}

lord-icon {
  width: 2.1875rem;
  height: 2.1875rem;
}
lord-icon.search {
  width: 3.125rem;
  height: 3.125rem;
}
lord-icon.print {
  width: 2.5rem;
  height: 2.5rem;
}

.show-pwd {
  position: relative;
}
.show-pwd input {
  padding-left: 2rem;
}
.show-pwd-icon {
  position: absolute;
  left: 0;
  top: 0;
  display: grid;
  place-items: center;
  height: 100%;
  width: fit-content;
  padding: 0.5rem;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  z-index: 10000;
  padding: 0.4em 1em;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  background-color: black;
  color: white;
  text-transform: capitalize;
  border-radius: 0.25rem;
  transition: opacity 0.3s ease;
}
.tooltip.shadow {
  box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2) !important;
}
@media (max-width: 767px) {
  .tooltip {
    display: none;
  }
}

.count-phone-number {
  position: relative;
}
.count-phone-number span {
  position: absolute;
  left: 0;
  top: 0;
  display: grid;
  place-items: center;
  height: 100%;
  width: fit-content;
  padding: 0.5rem;
  color: red;
}

.invalid-feedback {
  text-transform: capitalize;
}

/*# sourceMappingURL=style.css.map */
